<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
<style>
body {background-color: powderblue;
font-family: 'Open Sans', sans-serif;
    color: #656c6d;
    position: absolute;
    left: 10%;
    top: 10%;}

</style>
    <title>Log in to my diving portal..</title>

  <body>
  <div>
    {% block content %}

      {% if not name %}
  <form action="/login" method="post" accept-charset="utf-8">
      Username:<input type="text" name="username">
      Password:<input type="password" name="password">
      <input type="submit" value="Login">
  </form>

<!--  <input type="checkbox" checked="checked" name="remember_me"> Remember me-->

     <!--   <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> -->
  <!--<span class="psw">Forgot <a href="#">password?</a></span>    -->
      <!--<a href="/register_page" >Register</a>          -->
  {% else%}

   {% endif %}
      <br />
      <br />
      <div>
          <b>SIMHOPPSLOGGEN</b>
                 <p> - Vad är simhoppsloggen?</p>
                 <p>Simhopploggen är en liten liten databas (med en halvt utvecklad web-sida) med tanken att hjälpa oss vuxen-simhoppare att få bättre koll på vad vi övar, vad vi lär oss och vad vi ska välja för hopp att tävla på.</p>
          <p> - Hur gör jag för att logga in?</p>
          <p>Du kontaktar mig (i.e. Helena Troili) om du vill vara med.</p>
          <p> - Hur gör jag för att logga hopp?</p>
                                 <p>Du skapar en "Träning" (med "LOG TRAINING") först och lägger sedan till hopp med "Add dive".</p>
          <p> - Finns det någon backup?</p>
          <p class="w3-justify">Nej tyvärr, om simhoppsloggen får problem kan jag i nuläget inte återställa datat (det är ingen mening med det så länge ingen loggat några större mängder).</p>
          <b>PÅ GÅNG I MASTERSSIMHOPP:</b>
          <p class=>Gamma cup går för Masters på fredagen den 1a mars kl 18.30</p>
      </div>
      {% endblock content %}
  </div>
  </body>
</html>
